/*
 * @Author: 焦质晔
 * @Date: 2020-03-18 10:26:46
 * @Last Modified by: 焦质晔
 * @Last Modified time: 2020-07-09 19:51:22
 */
.v-alert {
  position: relative;
  line-height: 1.5;
  margin-right: $v-module-distance;
  font-size: $v-font-size;
  word-wrap: break-word;
  padding: 5px 8px 4px 28px;
  border: 1px solid $v-table-border-color;
  border-radius: $v-border-radius;
  background-color: $v-table-header-background-color;
  .iconfont {
    position: absolute;
    left: 8px;
    top: 49%;
    font-size: 16px !important;
    line-height: 0;
    color: $v-primary-color;
  }
  em {
    display: inline-block;
    line-height: 1;
    color: $v-primary-color;
    padding: 0 $v-module-distance;
    margin-right: -5px;
    font-style: normal;
    cursor: pointer;
  }
  &.size--mini {
    font-size: $v-font-size-mini;
    padding: 4px 6px 4px 28px;
  }
}
